@model string

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error :</h4>
    <hr />
    <h5>
       **** User cannot be found **** @Model
    </h5>
</div>

<a asp-controller="user" asp-action="index" class="btn btn-success "
   style="width:auto">Click here to see the list of all Users</a>